<%- include('./partials/header') %>
<div class="calendar-block">
  <h2>Successfully scheduled meeting with <%= organizer %></h2>
  <p>Meeting time - <%= meetingTime %> </p>
</div>
<%- include('./partials/footer') %>